#player {
    text-align: center;
}

#player-1, #player-2 {
    float: left;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 25px;
    box-shadow: 5px 5px 10px #888888;
    margin-right: 15px;
    text-align: center;
    padding: 5px;
    width: 100%;
}

#player-2 {
    float: right;
    margin-right: 0px;
}

#name-1, #name-2 {
    font-size: 30px;
}

.choice {
    margin-bottom: 5px;
}